kibana:
    host: localhost:5601
    user: elastic
    password: changeme

autoIndexPattern:
    enabled: true
    schedule: "* * * * *"
    generalPatterns:
        -   pattern: logstash-apache-access-*-#
            timeFieldName: "@timestamp"

logging:
    level: info
    debug: false
    color: true
    format: console
