kibana:
    host: http://localhost:5601
    user: elastic
    password: changeme

autoIndexPattern:
    enabled: false
    schedule: "*/5 * * * *"
    concurrency: 10
    generalPatterns:
        -   pattern: logstash-apache-access-?-*
            timeFieldName: "@timestamp"

refreshIndexPattern:
    enabled: false
    schedule: "* * * * *"
    concurrency: 10
    patterns:
        - logstash-apache-access-*-*

logging:
    level: info
    color: false
    format: json
    debug: false
