kibana:
    host: kibana:5601
    user: elastic
    password: changeme

autoIndexPattern:
    enabled: true
    schedule: "*/5 * * * *"
    generalPatterns:
        -   pattern: logstash-apache-access-*-?
            timeFieldName: "@timestamp"

logging:
    level: info
    color: false
    format: json
    debug: false
